# Default values for catalyst_orders.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
environment:
  name: staging

replicaCount: 1
version: v1

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

image:
  repository: us-docker.pkg.dev/kpn-platform-components/us.gcr.io/core-user-service
  tag: $IMAGE_TAG
  pullPolicy: IfNotPresent
  pullSecret:
    enabled: true
    registry: us-docker.pkg.dev
    username: username
    password: password

service:
  type: ClusterIP
  port: 80
  canary:
    name: beta
    enabled: false

containers:
  port: 4444

ingress:
  enabled: false
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  uriPrefix: /catalog/
  hosts:
    - services-staging.kpnfarmfresh.com
    - services-staging.kpnfresh.com
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

egress:
  enabled: false
  hosts:
    - chart-example.local

pod:
  initialDelaySeconds: 15

resources:
  limits:
    memory: 500Mi
  requests:
    cpu: 75m
    memory: 250Mi
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
#  memory: 128Mi

nodeSelector: {}

tolerations: []

podAntiAffinity:
  enabled: false

environmentVariables:
  ENVIRONMENT: STAGING
  CORE_KPN_URI: https://kcloud.kovaipazhamudir.com/mobile
  CORE_KPN_IMAGE_BASE_URL: https://ibo.com
  AUTHN_SERVICE_URI: https://ibo.com

gcp:
  enabled: false

database:
  enabled: false

destinationPolicy:
  maxConnections: 6000
  http1MaxPendingRequests: 1024
  maxRequestsPerConnection: 10
  consecutiveErrors: 7
  interval: 1s
  baseEjectionTime: 5m
  maxEjectionPercent: 10

jwt_policy:
  enabled: true
  audience: https://services-staging.kpnfarmfresh.com
